<p>homs works!</p>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Resistencias en Homs</h1>
            <br>
            <!-- 1era banda -->
            <div class="row">
                <div class="col-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>0</th>
                            </tr>
                            <tr>
                                <th>1</th>
                            </tr>
                            <tr>
                                <th>2</th>
                            </tr>
                            <tr>
                                <th>3</th>
                            </tr>
                            <tr>
                                <th>4</th>
                            </tr>
                            <tr>
                                <th>5</th>
                            </tr>
                            <tr>
                                <th>6</th>
                            </tr>
                            <tr>
                                <th>7</th>
                            </tr>
                            <tr>
                                <th>8</th>
                            </tr>
                            <tr>
                                <th>9</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>2da Banda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>3ra Banda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ana</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 2era banda -->

            <!-- 3era banda multiplicador-->

            <br>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Color 1</th>
                    <th scope="col">Color 2</th>
                    <th scope="col">Color 3</th>
                    <th scope="col">Tolerancia</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Valor máximo</th>
                    <th scope="col">Valor mínimo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
