<div class="container">
  <div class="row">
    <!-- <div>
      <h1>Hola mundo </h1>
      <h2>{{title}}</h2>
    </div>

    <div> -->
      <!-- tambien se pueden interpolar operaciones -->
      <!-- <p>La suma de 1 + 1 es {{1 + 1}}</p>
    </div>

    <div>
      <p>El doble de 3 es {{duplicarNumero(3)}}</p>
    </div>

    <div>
      <h3>{{pelicula.titulo | uppercase}}</h3>
      
      <h4>{{pelicula.anio | date}}</h4>
      <h4>{{pelicula.anio | date: 'dd-MMMM-yyyy'}}</h4>
      
      <h3>{{pelicula.precio | currency}}</h3>
    </div> -->

    <!-- Invocar COMPONENTE heroes list -->
    <app-heroes-list></app-heroes-list>

    <router-outlet />

  </div>
</div>




